html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #4e4e4e;
}

.NewYearCountdown {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 1em;
}

.NewYearCountdown h2 {
  color: #e4e4e4;
  margin-bottom: 1em;
  font-size: 2em;
}

.NewYearCountdown p {
  color: #cacaca;
  font-size: 1.2em;
}

.ball-drop-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 20px;
}

.countdown-svg {
  height: 60vh;
  width: auto;
}

.ball-drop-container svg {
  text-align: center;
  width: 100%;
  height: auto;
}

line {
  stroke: #ea8989;
  stroke-width: 2;
}

image {
  transition: y 1s linear;
}

@media (min-width: 768px) {
  .countdown-svg {
    height: 90vh;
  }
}
